.container{

  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;

}

::-webkit-scrollbar{
  width: 15px;
  }

  ::-webkit-scrollbar-track{
  background: #d1e5ff;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: linear-gradient(#994ECC, #3E187A);
  border-radius: 10px;
  }

@media (max-width: 1300px) {

  .container{

    padding: 0 1.5rem;
  }

}
