.container{

  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;

}

::-webkit-scrollbar{
  width: 15px;
  }

  ::-webkit-scrollbar-track{
  background: ##000101;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: linear-gradient(#994ECC, #3E187A);
  border-radius: 10px;
  }

:-webkit-scrollbar-button {
    width: 15px;
    height: 15px;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=\'%23ffffff\'><path d="M12 8l6 6H6z"/></svg>');
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=\'%23ffffff\'><path d="M12 16l6-6H6z"/></svg>');
  }
  
  @media (max-width: 1300px) {
    .container {
      padding: 0 1.5rem;
    }
  }
  
